# Artifacts
/node_modules
/dist

# Log files
*.log

# Vagrant
/.vagrant

# IDE support files
/eclipse
/venv
/ivy*
/.vscode
/.apt_generated
/.classpath
/.factorypath
/.launch
/.project
/.settings
/.idea
/*.launch
/*.tmproj
.vs/
*.iml
*.ipr
*.iws

# Applications
*.app
*.exe
*.war
*.jar

# Logs
*.log

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Mac OS X specific
Thumbs.db
Thumbs.db:*
.DS_Store

# Miscellaneous
._*
*.orig
*.swp
